*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.caja{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(fondo.jpg);
    text-align: center;
    color: white;
    padding: 15px;
    
}

.caja h1{
    text-align: center;
    color: #65dacd;
    font-size: 40px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
}

.caja input[type="text"],.caja input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 8px 5px;
    width: 32%; 
    outline: none;
    color: white;
    font-size: 20px;
    transition: 0.05s;
}

.caja input[type="text"]:focus,.caja input[type="text"]:focus{
    width: 40%;
    border-color: #65dacd;
    border-radius: 45%;
}

.caja label[for="datos"]{
    margin: 10px;
    padding: 8px;
    background: none;
}

.resultado{
    color: #65dacd;
    font-size: 5rem;
    background: none;
}

.datos{
    color: #65dacd;
    font-size: 2.3rem;
    background: none;
    text-align: center;
    align-items: center;
}

.button {
    padding: 5px;
    margin: 15px 15px 15px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 10px rgba(79,209,197,.64);
    transition: all 0.1s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}


button::before {
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 100;
}

button::after {
    content: '';
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.2s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    .caja {
        font-size: 13px;
    }
    .caja h1 {
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {
    .caja {
        font-size: 11px;
    }
    .caja h1 {
        font-size: 18px;
    }
    .button{
        font-size: 10px;
    }
    .resultado{
        font-size: 3.5rem;
    }
    .datos{
        font-size: 0.8rem;
    }
}